* {
    font-family: sans;
    background-color : rgb(255, 255, 255);
}

h1, h2, h3 {
    /* font-family: Arvo, Monaco, serif; */
    line-height: 1.3;
    font-weight: normal;
}

h1 {
    font-size: 30px;

}

h2 {
    font-size: 20px;
    margin-top: 40px;
}

h3 {
    font-size: 18px;
}

.testimonial_content div > div {
    margin-top: 15px;
}  

a {
    color: #C30000;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 0.4em;
}


.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}



ul#publications li {
    margin-bottom: 2em;
}

.authors {
    font-style: italic;
}

.publication-title {
    font-weight: bold;

}

header {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0em;
}

header hr {
    width: 100%;
}

nav {
    float: right;
}

nav a {
    margin-left: 20px;
}

code {
    font-family: monospace;
}


.testimonial_content {
        display:flex;
}

.testimonial_content img {
       display: block;
       max-width:400px;
       height: auto;
       margin-right: 25px;
}


@media(max-width: 768px) {
    .testimonial_content img {
        max-width:300px; 
    }
}

@media(max-width: 600px) {
    .testimonial_content {
        display:block;
    }
	.testimonal_content img {
		max-width: 100%;
		margin: 0;
	}
}
    




    



