---
layout: default
title: Publications
permalink: /publications/
---

<div class="home">

  <h1>Publications</h1>
  {% assign years = site.publications | group_by:"year" | sort:"title" %}
  {% for year in years reversed %}
  <h2>{{ year.name }}</h2>
  <ul class="publications">
    {% for pub in year.items %}
    <li>
      <p class="publication-title">
        {% if pub.pub-url %}
        <a href={{ pub.pub-url }}>{{ pub.title }}</a>
        {% else %}
        {{ pub.title }}
        {% endif %}
      </p>
      
      <p><span class="authors">{{ pub.authors }}</span>, <span class="year">{{ pub.year }}</span></p>
      <div class="publication-content">{{ pub.content }}</div>
    </li>
    {% endfor %}
  </ul>

  {% endfor %}

</div>
