---
layout: default
title: Testimonials
permalink: /testimonials/
fullscreen: true
---

<h1>Testimonials</h1>

<div class="testimonials">

{% assign testimonials = site.testimonials | reverse %}
{% for testimonial in testimonials %}
  <article class="testimonial">
    <header>
      <h3>{{ testimonial.title }}</h3>
    </header>
    {% if testimonial.img-url %}
      <figure>
        <img src="{{ testimonial.img-url}}">
      </figure>
    {% endif %}
    <section>
      {{ testimonial.content }}

      <span class="authors">
        {{ testimonial.authors }}
      </span>
    </section>
  </article>
{% endfor %}
<article class="testimonial" data-callout>
  <header>
    <h3>Do you use preCICE?</h3>
  </header>
  <section>
    <p>
      We are always happy to hear about interesting projects that use preCICE.
    </p>
  </section>
  <section>
      <a class="button primary float-center" href="../resources/#contact">Tell us your story!</a>
  </section>
</article>

</div>
