---
layout: default
title: Testimonials
permalink: /testimonials/
---

<h1>Testimonials</h1>

<section class="callout">
  <h2>Do you use preCICE?</h2>
  <p>
    We are always happy to hear about interesting projects that use preCICE.
  </p>
  <div class="text-center">
    <a class="button secondary" href="../resources/#contact">Tell us your story!</a>
  </div>
</section>

<div class="testimonials">

{% for testimonial in site.testimonials %}
  <article class="testimonial{% if testimonial.img-url %} large{% endif %}">
    <header>
      <h3>{{ testimonial.title }}</h3>
    </header>
    <section>
      {% if testimonial.img-url %}
        <figure>
          <img src="{{ testimonial.img-url}}">
        </figure>
      {% endif %}
      <section>
        {{ testimonial.content }}

        <span class="authors">
          {{ testimonial.authors }}
        </span>
      </section>
    </section>
  </article>
{% endfor %}

</div>
