---
layout: default
title: Publications
permalink: /publications/
---

<div class="home">

  <h1>Publications</h1>

  <h2>To cite preCICE, please use:</h2>
  <article class="publication">
    <header>
      <a href="http://www.sciencedirect.com/science/article/pii/S0045793016300974">preCICE -- A Fully Parallel Library for Multi-Physics Surface Coupling</a>
    </header>
    <section>
      <span class="authors">Hans-Joachim Bungartz, Bernhard Gatzhammer, Florian Lindner, Miriam Mehl, Klaudius Scheufele, Alexander Shukaev, Benjamin Uekermann</span>,
      <span class="year">2016</span>
    </section>
    <section>
      <p>In Computers and Fluids, Volume 141, p. 250––258. Elsevier.</p>
    </section>
    <footer>
      <a class="button" href="../assets/precice.bib">BibTeX</a>
    </footer>
  </article>

  {% assign years = site.publications | group_by:"year" | sort:"title" %}
  {% for year in years reversed %}
  <h2>{{ year.name }}</h2>
  {% for pub in year.items %}
    <article class="publication">
      <header>
        {% if pub.pub-url %}
          <a href={{ pub.pub-url }}>{{ pub.title }}</a>
        {% else %}
          {{ pub.title }}
        {% endif %}
      </header>
      <section><span class="authors">{{ pub.authors }}</span>, <span class="year">{{ pub.year }}</span></section>
      <section>{{ pub.content }}</section>
    </article>
  {% endfor %}

  {% endfor %}
</div>
