<footer>
    <hr />
    <nav>
        <a class="github-button" href="https://github.com/precice/precice" data-show-count="false" aria-label="Star precice/precice on GitHub">GitHub</a>
        <a href="https://travis-ci.org/precice/precice">
            <img src="https://travis-ci.org/precice/precice.svg?branch=develop" alt="Build status">
        </a>
        <a href="https://gitter.im/precice/Lobby" rel="nofollow">
            <img src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" alt="Gitter" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg" style="max-width:100%;">
        </a>
    </nav>
</footer>
