<footer>
    <hr />
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
    <nav>
        <a class="github-button" href="https://github.com/precice/precice" target="_blank" data-show-count="false" aria-label="Star precice/precice on GitHub">GitHub</a>
        <a class="link_image" href="https://github.com/precice/precice/blob/develop/LICENSE" target="_blank">
            <img src="https://img.shields.io/github/license/precice/precice.svg" alt="GNU LGPL license">
        </a>
        <a class="link_image" href="https://travis-ci.org/precice/precice" target="_blank">
            <img src="https://travis-ci.org/precice/precice.svg?branch=develop" alt="Build status">
        </a>
        <a class="link_image" href="https://github.com/precice/precice/releases/latest" target="_blank">
            <img src="https://img.shields.io/github/release/precice/precice.svg" alt="Release">
        </a>
        <a class="link_image" href="https://gitter.im/precice/Lobby" target="_blank">
            <img src="https://badges.gitter.im/precice/precice.svg" alt="Gitter chat" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg">
        </a>
        <a class="link_image" href="https://mailman.informatik.uni-stuttgart.de/mailman/listinfo/precice" target="_blank">
            <img src="https://img.shields.io/badge/mailing%20list-subscribe-blue.svg" alt="Mailing list">
        </a>
    </nav>
</footer>
