<!-- Twitter and github timelines -->
<section class="newsfeed">
  <div class="newsfeed-wrapper">
    <h1>Latest updates</h1>
    <div class="feeds">

      <div class="feed">
        <div class="feed-content">
          <a class="twitter-timeline" href="https://twitter.com/preCICE_org?ref_src=twsrc%5Etfw"
                                      data-tweet-limit="3"
                                      data-height="400"
                                      data-width="800"
                                      data-chrome="nofooter"
                                      > Fetching latest tweets... </a>
        </div>
        <div class="feed-footer">
          <ul class="menu align-center">
            <li class="menu-text">
              <a href="https://twitter.com/preCICE_org?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @preCICE_org</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
          </ul>
        </div>
      </div>

      <div class="feed">
        <div class="feed-content">
          <div id="github-feed"> <a> Fetching github activity...</a> </div>
        </div>
        <div class="feed-footer">
          <ul class="menu align-center">
            <li>
              <a class="link_image" href="https://github.com/precice/precice/blob/develop/LICENSE" target="_blank">
                <img src="https://img.shields.io/github/license/precice/precice.svg" alt="GNU LGPL license">
              </a>
            </li>
            <li>
              <a class="link_image" href="https://travis-ci.org/precice/precice" target="_blank">
                <img src="https://travis-ci.org/precice/precice.svg?branch=develop" alt="Build status">
              </a>
            </li>
            <li>
              <a class="link_image" href="https://github.com/precice/precice/releases/latest" target="_blank">
                <img src="https://img.shields.io/github/release/precice/precice.svg" alt="Release">
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
