<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main{% if page.fullscreen %} data-fullscreen{% endif %}>
    {{ content }}
    </main>

    {% include footer.html %}

    <!-- Get information about the latest preCICE release from GitHub -->
    <script type="text/javascript">
        // Script to get information about the latest preCICE release from GitHub,
        // using its API

        // When the page is loaded, call to the github API is generated, upon succesful
        // completition of which we get JSON with the list of releases. We get info from
        // the latest release, processes its data and modify the HTML element
        // with id "latest-release".

        // Get the updated field of an entry of the feed and format it like "Jan 1, 1970"
        function formatDate(updated) {
            // Extract the date and create a Date object
            date = new Date(updated);

            // Names for the months (we do not need an external library just for this)
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            // Returns e.g. "Jan 1, 1970"
            return monthNames[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
        }

        // Wait until the complete page has loaded (so that the latest-release exists)
        document.addEventListener("DOMContentLoaded", function() {

            var github_api_endpoint = 'https://api.github.com/repos/precice/precice/releases'

            fetch(github_api_endpoint).then(function(response) {
              if (response.ok) {
                response.json().then(function(data) {
                  tag = data[0].name;
                  published_at = data[0].published_at;
                  url = data[0].html_url
                  // Format the text, which contains the link, the title, and the date.
                  var text = '<strong>News:</strong> preCICE release <a href="' + url + '">' + tag  + '</a>' + ' available since ' + formatDate(published_at);
                  document.getElementById('latest-release').innerHTML = text;
                });
               }
               else throw new Error("Problem with fetching releases");
              }).catch(function(err) {
                // if github is unreachable ( or API gets changed in the future ) hide info about release
                document.getElementById('latest-release').innerHTML = '';
            });

        }, false );
    </script>

    <!-- GitHub buttons, generated via https://buttons.github.io/ -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Twitter feed -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
    </script>
    <!-- Github activity -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="../assets/external/github-activity-0.1.5.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="../assets/external/github-activity-0.1.5.min.js"></script>
    <script type="text/javascript">
    GitHubActivity.feed({
      username: "precice",
      selector: "#github-feed",

      limit: 5 // optional
    });
    </script>

    <!-- Load JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Load what-input -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.1.3/what-input.min.js" integrity="sha256-bj9uUXCtgWia8MCh9s6lkvAbenPi2xgxdyH5qfPrAVk=" crossorigin="anonymous"></script>
    <!-- Load Foundation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/js/foundation.min.js" integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs=" crossorigin="anonymous"></script>
    <!-- Load workshop-specific CSS -->
    <link rel="stylesheet" href="../css/workshop.css">
    <script>
      $(document).foundation();
    </script>
  </body>

</html>
