.funding {
    list-style:none;
    @include xy-grid;
    justify-content: center;
    li {
        @include xy-cell;
        @include breakpoint(medium) {
            @include xy-cell(1 of 3)
        }
        margin-top: 2em;
        text-align: center;
        img {
            max-height: 4em;
            margin: 0 1ex;
        }
        p {
            max-width: 30em;
            color: #808080;
            margin: 1em auto 0 auto;
            font-size: .5em;
        }
    }
}
