// This prevents the responsive title-bar to flash up on page load
body > header {
    height: 2rem;

    nav { 
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
    }
}
